.character {
  display: inline-block;
  margin-right: 6px;
}

.jp {
  font-size: 0.75rem;
}

.char {
  font-size: 1rem;
}

.button-group {
  margin: 16px 0;
}
.button-group button {
 width: 7rem;
 margin-right: 8px;
}

#lyrics-input {
  resize: none;
  width: 100%;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}